.company{
    padding: 150px 0 0 0;
}

.company-page{
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A3A3A3;
    width: 370px;
    font-family: 'Pangolin', cursive;
}

.company-name{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3C3C3C;
    font-family: 'Pangolin', cursive;
}

.company-right{
    padding: 0 80px;
}

.company-button{
    border: 1px solid #3A896A;
    border-radius: 4px;
    width: 125px;
    height: 32px;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    position: relative;
    z-index: 1;
    color: #3A896A;
    margin: 10px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    transition: 0.8s;
}


.company-button:hover svg path{
    fill: #fff;
    transition: 0.8s;
}


.company-button:hover{
    color: #fff;
    background-color: #3A896A;
}

.company-img{
    margin-right: 10px;
    width: 300px;
    height: 223.97px;
}



.company-imgs{
    margin-right: 10px;
    transition: 3s;
}

.company-icon{
    width: 15px;
    height: 25px;
    margin-left: 10px;
    margin-top: 12px;
    padding: 5px;
}

.company-btn{
    background: #3A896A;
    border-radius: 4px;
    width: 150px;
    height: 32px;
    border: 2px solid #3A896A;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    transition: 0.8s;
}

.company-btn:hover{
    background-color: #fff;
    color: #3A896A;
}

.company-title{
    display: flex;
    align-items: center;
}


.company-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 120px 0;
}

.company-list{
    margin: 0 80px;
    text-align: center;
    transition: 0.5s;
}
.company-list:hover{
    transform: scale(1.15);
}

.company-names{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #3A896A;
    margin-top: 8px;
    font-family: 'Pangolin', cursive;
}