.company{
    padding: 120px 0 0 0;
}

.company-page{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.company-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A3A3A3;
    width: 500px;
}

.company-name{
    font-size: 25px;
}

.company-right{
    padding: 0 150px;
}

.company-button{
    border: 1px solid #3A896A;
    border-radius: 4px;
    width: 125px;
    height: 32px;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #3A896A;
    margin: 10px;
    cursor: pointer;
}

.company-img{
    margin-right: 10px;
    width: 480px;
    height: 300px;
}

.company-imgs{
    margin-right: 10px;
}

.company-icon{
    width: 15px;
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
    padding: 3px;
}

.company-btn{
    background: #3A896A;
    border-radius: 4px;
    width: 150px;
    height: 32px;
    border: 2px solid #3A896A;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.company-title{
    display: flex;
    align-items: center;
}


.company-box{
    display: flex;
    align-items: center;
    padding: 90px 0;
}

.company-list{
    margin: 0 80px;
    text-align: center;
}

.company-names{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #3A896A;
    margin-top: 8px;
}