.company{
    padding-bottom:30px ;
}

.company-page{
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A3A3A3;
    width: 370px;
    font-family: 'Pangolin', cursive;
}

.company-name{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3C3C3C;
    font-family: 'Pangolin', cursive;
}

.company-right{
    padding: 0 80px;
}

.company-button{
    border: 1px solid #3A896A;
    border-radius: 4px;
    width: 125px;
    height: 32px;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    position: relative;
    z-index: 1;
    color: #3A896A;
    margin: 10px;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    transition: 0.8s;
}


.company-button:hover svg path{
    fill: #fff;
    transition: 0.8s;
}


.company-button:hover{
    color: #fff;
    background-color: #3A896A;
}

.company-img{
    margin-right: 10px;
    width: 300px;
    height: 223.97px;
}



.company-imgs{
    margin-right: 10px;
    transition: 3s;
}

.company-icon{
    width: 15px;
    height: 25px;
    margin-left: 10px;
    margin-top: 12px;
    padding: 5px;
}

.company-btn{
    background: #3A896A;
    border-radius: 4px;
    width: 150px;
    height: 32px;
    border: 2px solid #3A896A;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    transition: 0.8s;
}

.company-btn:hover{
    background-color: #fff;
    color: #3A896A;
}

.company-title{
    display: flex;
    align-items: center;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.company-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.company-list{
    margin: 0 80px;
    text-align: center;
    transition: 0.5s;
}
.company-list:hover{
    transform: scale(1.15);
}

.company-names{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #3A896A;
    margin-top: 8px;
    font-family: 'Pangolin', cursive;
}

@media (max-width:1520px) {
    
    .container{
        width: 1400px;
    }
}

@media (max-width:1420px) {
    
    .container{
        width: 1300px;
    }
}

@media (max-width:1320px) {
    
    .container{
        width: 1200px;
    }
}

@media (max-width:1220px) {
    
    .container{
        width: 1160px;
    }
}

@media (max-width:1160px) {
    
    .container{
        width: 1020px;
    }
}

@media (max-width:1020px) {
    
    .container{
        width: 900px;
    }

    .company-right{
        padding: 0 50px;
    }
}


@media (max-width:920px) {
    
    .container{
        width: 800px;
    }

    .company-right{
        padding: 0 40px;
    }   
}

@media (max-width:820px) {
    
    .container{
        width: 700px;
    }

    .company-img{
        width: 280px;
        height: 210px;
        object-fit: cover;
    }
}

@media (max-width:720px) {
    
    .container{
        width: 600px;
    }
    .company-page{
        flex-direction: column;
    }

    .company-img{
        width: 400px;
        height: 240px;
    }
    .company-right{
        margin-top: 15px;
    }

    .company-list{
        margin: 0 60px;
    }
    .company-names{
        font-size: 14px;
        line-height: 18px;
        margin: 0;
    }
}

@media (max-width:620px) {
    
    .container{
        width: 500px;
    }

    .company-list{
        margin: 0 22px;
    }
    .company-names{
        font-size: 13px;
        line-height: 18px;
    }
}

@media (max-width:520px) {
    
    .container{
        width: 400px;
    }

    .company-list{
        margin: 0 15px;
    }

    .company-img{
        width: 360px;
        height: 240px;
    }
    .company-names{
        font-size: 10px;
        line-height: 18px;
    }

    .company-text{
        width: 348px;
        font-size: 12px;
        line-height: 14px;
    }

    .company-btn{
        width: 140px;
        font-size: 12px;
    }
    .company-button{
        width: 130px;
        font-size: 12px;
    }
}

@media (max-width:420px) {
    
    .container{
        width: 350px;
    }
    .company-names{
        font-size: 9.70782px;
        line-height: 10px;
    }

    .company-pic{
        width: 31px;
        height: 35px;
    }

    .company-box{
        justify-content: space-between;
        display: flex;
    }
    .company-list{
        margin: 0;
        padding: 0;
    }

    .company-img{
        width: 300px;
        height: 220px;
    }

    .company-text{
        font-size: 10.208px;
        line-height: 13px;
        width: 310px;
    }

    .company-right{
        padding: 0;
    }
}