.categorypage{
    background-image: url("../../Assets/img/top.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 0 90px 0;
}


.category{
    padding: 50px 0;
    position: relative;
}

.category-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category-list{
    cursor: pointer;
    margin: 15px 40px;
    transition: 0.3s;
}

.category-list:hover{
    transform: scale(1.2);
}

/* .category-list:nth-child(1), .category-list:nth-child(3), .category-list:nth-child(5), .category-list:nth-child(7){
    animation-name: CategoryAnimation1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

/* .category-list:nth-child(2), .category-list:nth-child(4), .category-list:nth-child(6), .category-list:nth-child(8){
    animation-name: CategoryAnimation2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */



.category-link{
    text-decoration: none;
}

.category-span{
    background-color: black;
    width: 150px;
    height: 45px;
}

.category-pero{
    color: #fff;
    height: 0;
    font-family: 'Pangolin';
    font-style: normal;
    line-height: 11px;
    font-size: 8.83872px;
    padding-top: 6px;
    padding-left: 7px;
    font-family: 'Pangolin', cursive;
}

.category-name{
    color: #fff;
    height: 0;
    line-height: 23px;
    font-size: 13.6417px;
    font-weight: 400;
    padding-bottom: 7px;
    padding-left: 5px;
    margin-top: 5px;
    font-family: 'Pangolin', cursive;
}

.category-yellow{
    background: #F8BC3B;
    width: 150px;
    height: 100px;
}

.category-img{
    margin-left: -15px;
}

.category-picture{
    margin-left: -25px;
    height: 120px;
    margin-top: -20px;
}

.category-pic{
    margin-top: -10px;
    margin-left: 10px;
}

.category-pics{
    height: 110px;
    margin-top: -5px;
    margin-left: 8px;
}

.header-greens{
    position: absolute;
    top: 45%;
    width: 220px;
    height: 200px;
    left: 82%;
}


.header-grens{
    position: absolute;
    top: 0%;
    left: 2%;
    width: 310px;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

@keyframes CategoryAnimation1 {
    
    0%{
        transform: rotate(0deg);
    }
    35%{
    transform: rotate(30deg);
    }

    70%{
        transform: rotate(-25deg);
    }
}

@keyframes CategoryAnimation2 {
    
    0%{
        transform: rotate(0deg);
    }
    35%{
    transform: rotate(-30deg);
    }

    70%{
        transform: rotate(25deg);
    }
}

@media (max-width:1320px) {
    
    .container{
        width: 1220px;
    }
    .category-list{
        margin: 0 50px;
    }

    .header-grens{
        left: -5%;
    }
    .header-greens{
        top: 65%;
    }
}

@media (max-width:1220px) {
    
    .container{
        width: 1140px;
    }

    .category-list{
        margin: 0 40px;
    }

    .header-greens{
        width: 190px;
    }
    .header-grens{
        width: 250px;
    }
}

@media (max-width:1160px) {
    
    .container{
        width: 1000px;
    }

    .category-list{
        margin: 5px 30px;
    }
    .header-greens{
        width: 165px;
        height: 190px;
        left: 84%;
    }
}

@media (max-width:1020px) {
    
    .container{
        width: 900px;
    }

    .category-list{
        margin: 10px 20px;
    }

    .header-greens{
        left: 82%;
        top: 71%;
    }
    .header-grens{
        display: none;
    }
}

@media (max-width:920px) {
    
    .container{
        width: 800px;
    }

    .header-greens{
        display: none;
    }

    .category-list{
        margin: 10px 20px;
    }
}
@media (max-width:820px) {
    
    .container{
        width: 700px;
    }

    .category-list{
        margin: 10px 30px;
    }
}

@media (max-width:720px) {
    
    .container{
        width: 600px;
    }

    .category-list{
        margin: 10px 20px;
    }
}

@media (max-width:620px) {
    
    .container{
        width: 500px;
    }
    .category-list{
        margin: 10px 5px;
    }
}

@media (max-width:520px) {
    
    .container{
        width: 400px;
    }
    .category-list{
        margin: 10px 15px;
    }
}

@media (max-width:420px) {
    
    .container{
        width: 330px;
    }

    .category-list{
        margin: 10px 5px;
    }

    .category-span{
        width: 140px;
    }
    .category-yellow{
        width: 140px;
    }

    .category-img{
        width: 160px;
    }

    .category-picture{
        width: 180px;
        height: 110px;
        margin-top: -9px;
    }
}