.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(18px);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal {
  background: #fff;
  padding: 2rem;
  transition: all 0.4s ease;
  width: 500px;
  height: 220px;
}


.modalContainer.show {
  visibility: visible;
  transition: all 0.2s ease !important;
}

.modalContainer.show .modal {
  opacity: 1;
  animation-name: fadeon;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

@media (max-width:620px) {
  
  .container{
    width: 500px;
  }
  .modal{
    width: 400px;
    height: 280px;
  }
}

@media (max-width:520px) {
  
  .container{
    width: 400px;
  }
  .modal{
    width: 360px;
  }
}

@media (max-width:420px) {
  
  .container{
    width: 350px;
  }
  .modal{
    width: 270px;
    height: 220px;
  }
}