.header{
    padding: 60px 0;
    background-image: url("../../Assets/img/mgreen.png"), url("../../Assets/img/mgren.png");
    background-repeat: no-repeat;
    background-position: top 95% left 95%, top -100% left -3%;
}

.header-name{
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #1c1c1c;
    width: 120px;
    margin-left: 60px;
    font-family: 'SF Pro Display';
}
.header-names{
    color: #3A896A;;
}

.header-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #3A896A;
    margin-left: 60px;
}

.header-icon{
    margin-left: 15px;
}

.header-span{
    width: 35px;
    height: 35px;
    background-color: #3A896A;
    border-radius: 50%;
    padding: 5px;
}

.header-img{
    margin-left: 10px;
    margin-top: 9px;
}

.header-imgs{
    margin-left: 8px;
    margin-top: 9px;
}

.header-list{
    display: flex;
    list-style: none;
    margin-left: 20px;
}

.header-text{
    width: 100px;
}
.header-item{
    margin: 0 5px;
}

.header-page{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.header-circle{
    width: 330px;
    height: 300px;
    background-color: #3A896A;
    border-radius: 50%;
}

.header-pictures{
    margin-left: -26px;
}

.header-right{
    padding: 0 180px;
    display: flex;
    align-items: center;
}

.header-btn{
    border: none;
    outline: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    color: #3A896A;  
    font-family: 'Pangolin';
}

.header-title{
    list-style: none;
}

.header-items{
    margin: 10px;
}