.header{
    padding: 60px 0 20px 0;
    /* background-image: url("../../Assets/img/mgreen.png"), url("../../Assets/img/mgren.png"); */
    /* background-repeat: no-repeat; */
    /* background-position: top 95% left 95%, top -260% left 0%; */
    position: relative;
}

.header-green{
    position: absolute;
    top: 58%;
    left: 82%;
}

.header-gren{
    position: absolute;
    width: 350px;
    height: 350px;
    top: -15%;
    left: 1.8%;
}

.header-name{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #1c1c1c;
    width: 120px;
    margin-left: 60px;
    font-family: 'Pangolin', cursive;
}
.header-names{
    color: #3A896A;
}

.header-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #3A896A;
    margin-left: 60px;
    font-family: 'Pangolin', cursive;
}

.header-icon{
    margin-left: 15px;
}

.header-span{
    width: 40px;
    height: 40px;
    background-color: #3A896A;
    border-radius: 50%;
    transition: 0.5s;
    border: none;
    cursor: pointer;
}



.header-list{
    display: flex;
    list-style: none;
    margin-left: 20px;
    padding-top: 50px;
}

.header-text{
    width: 100px;
    font-family: 'Pangolin', cursive;
    font-weight: 500;
}
.header-item{
    margin: 0 5px;
}

.header-page{
    display: flex;
    align-items: center;
}

.header-circle{
    width: 330px;
    height: 330px;
    background-color: #3A896A;
    border-radius: 50%;
}

.header-pictures{
    margin-left: -42px;
    margin-top: 10px;
    width: 370px;
    animation-name: HeaderMilk;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.header-left{
    padding: 0 100px;
}

.header-right{
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.header-btn{
    border: none;
    outline: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    color: #3A896A;  
    font-family: 'Pangolin';
    transition: 0.5s;
    padding: 5px 8px;
    border: 2px solid transparent;
}

.header-btn:hover{
    border: 2px solid #3A896A;
    border-radius: 5px;
}

.header-title{
    list-style: none;
}

.header-items{
    /* margin: 20px 10px; */
    padding: 20px 0;
}

.header-img{
    padding: 5px 0px;
    transition: 1.2s;
}
.header-imgs{
    transition: 0.8s;
    padding: 5px 0px;
}

/* .header-img:hover path{
    stroke: #3A896A;
    fill: #3A896A;
} */



.header-span:hover{
    /* background-color: #f2f2f2; */
    border: 1px solid #3A896A;
    transform: scale(1.2);
}
/* .header-imgs:hover path{
    stroke: #fff;
    fill: #3A896A;
} */


@keyframes HeaderMilk {
    
    0%{
        transform: rotate(0deg);
    }
    35%{
        transform: rotate(25deg);
    }

    70%{
        transform: rotate(-25deg);
    }
}