.section{
    background-image: url("../../Assets/img/backgorund.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    padding: 150px 0;
    margin-top: -105px;
    position: relative;
}

.section-white{
    position: absolute;
    top: 5%;
    left: 69.5%;
}

.section-name{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #fff;
    font-family: 'Pangolin';
    width: 120px;
}

.section-link{
    font-family: 'Pangolin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    color: #fff;
    text-decoration: none;
}

.section-icon{
    margin-left: 10px;
    
}

.section-circle{
    width: 183px;
    height: 170px;
    border-radius: 50%;
    background-color: #fff;
    animation-name:SectionPero;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.section-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section-list{
    margin: 10px 80px;
    display: flex;
    padding: 30px 0;
}

.section-title{
    margin-left: 50px;
}

.section-imgs{
    width: 160px;
    height: 150px;
    margin-left: 10px;
    margin-top: 12px;
}

.section-pic{
    width: 200px;
    height: 180px;
    margin-top: -20px;
    margin-left: -15px;
}

.section-pero{
    width: 260px;
    margin-left: -30px;
    margin-top: -28px;
}

.section-img{
    width: 220px;
    margin-left: -18px;
    margin-top: 10px;
}



@keyframes SectionPero {
    
    0%{
        transform: rotate(0deg);
    }
    35%{
        transform: rotate(20deg);
    }

    70%{
        transform: rotate(-25deg);
    }
}