.box{
    padding-bottom: 200px;
    margin-top: -30px;
}
.box-page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box__name{
    text-align: center;
    color: #000;
    font-size: 45px;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
.box-list{
    margin: 5px 40px;
    cursor: pointer;
    transition: 0.3s;
}

.box-list:hover{
    transform: scale(1.2);
}

.box-span{
    background-color: black;
    width: 170px;
    height: 45px;
}

.box-pero{
    color: #fff;
    height: 0;
    font-family: 'Pangolin';
    font-style: normal;
    line-height: 11px;
    font-size: 8.83872px;
    padding-top: 6px;
    padding-left: 7px;
    font-family: 'Pangolin', cursive;
}

.box-name{
    color: #fff;
    height: 0;
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 7px;
    padding-left: 5px;
    margin-top: 5px;
    font-family: 'Pangolin', cursive;
}

.box-yellow{
    background: #F8BC3B;
    width: 170px;
    height: 130px;
    text-align: center;
}

.box-img{
    margin-left: -15px;
    margin-top: -10px;
}

.box-lists{
    cursor: pointer;
    margin: 0 30px;
    transition: 0.3s;
}
.box-lists:hover{
    transform: scale(1.2);
}

.box-green{
    background: #3A896A;
    width: 150px;
    height: 110px;
}

.box-circle{
    margin: 0 30px;
    cursor: pointer;
    transition: 0.3s;
}

.box-circle:hover{
    transform: scale(1.2);
}

.box-orange{
    background: #FF5634;
    width: 150px;
    height: 110px;
}

.box-pics{
    height: 120px;
    margin-left: 10px;
    transform: rotate(-3deg);
    margin-top: -7px;
}

.box-picture{
    margin-left: -35px;
    height: 130px;
    margin-top: -20px;
}

.box-right{
    margin: 0 30px;
    cursor: pointer;
    transition: 0.3s;
}

.box-right:hover{
    transform: scale(1.2);
}

.box-yellows{
    background-color: #FDB52A;
    text-align: center;
    height: 100px;
}

.box-pic{
    margin-top: -10px;
}


 

@media (max-width:1520px) {
    
    .container{
        width: 1400px;
    }
}

@media (max-width:1420px) {
    
    .container{
        width: 1300px;
    }
}

@media (max-width:1320px) {
    
    .container{
        width: 1200px;
    }
}

@media (max-width:1220px) {
    
    .container{
        width: 1160px;
    }
}

@media (max-width:1160px) {
    
    .container{
        width: 1020px;
    }
}

@media (max-width:1020px) {
    
    .container{
        width: 900px;
    }
}

@media (max-width:920px) {
    
    .container{
        width: 800px;
    }
    .box-list, .box-lists, .box-circle, .box-right{
        margin: 0 20px;
    }
}

@media (max-width:820px) {
    
    .container{
        width: 700px;
    }

    .box-yellows, .box-yellow, .box-green, .box-orange, .box-span{
        width: 140px;
    }
}

@media (max-width:720px) {
    
    .container{
        width: 600px;
    }


    .box-yellows, .box-yellow, .box-green, .box-orange{
        width: 180px;
        height: 130px;
    }
    .box-span{
        width: 180px;
        height: 50px;
    }
    .box-page{
        flex-wrap: wrap;
    }
    .box-list, .box-lists, .box-circle, .box-right{
        margin: 15px;
        padding: 0 18px;
    }
    .box-picture{
        width: 250px;
        height: 150px;
        object-fit: cover;
    }

    .box-img{
        width: 210px;
        object-fit: cover;
    }
    .box-pics{
        height: 160px;
        margin-top: -18px;
        margin-left: -10px;
        object-fit: cover;
    }

    .box-pic{
        width: 180px;
        height: 160px;
        object-fit: cover;
    }
    .box-pero{
        font-size: 14px;
    }
    .box-name{
        font-size: 18px;
    }
}

@media (max-width:620px) {
    
    .container{
        width: 500px;
    }

    .box-yellows, .box-yellow, .box-green, .box-orange{
        width: 150px;
        height: 130px;
    }
    .box-span{
        width: 150px;
        height: 50px;
    }

    .box-picture{
        width: 230px;
        height: 120px;
        margin-top: 0;
    }

    .box-img{
        width: 180px;
        margin-top: 10px;
    }
    .box-pics{
        height: 140px;
        margin-top: -5px;
    }

    .box-pic{
        width: 160px;
        height: 140px;
    }
}

@media (max-width:420px) {
    
    .container{
        width: 350px;
    }

    .box__name{
        font-size: 35px;
    }

    .box-name{
        font-size: 12px;
    }

    .box-list{
        margin: 5px 3px;
    }
}